---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Center Content</title>
  <style>
      .centered {
          text-align: center;
      }
      .centered img {
          display: block;
          margin: 0 auto;
      }
  </style>
</head>
</head>
<body>
    <div class="centered">
        <a href="https://www.revolvermaps.com/livestats/5p206z1rkp8/">
            <img src="//rf.revolvermaps.com/h/m/a/0/ff0000/128/0/5p206z1rkp8.png" width="256" height="128" alt="Map" style="border:0;">
        </a>
    </div>
</body>
